:root {
  --verde-clp: #2e7d32;
  --creme-clp: #f5f5dc;
  --marrom-clp: #5D4037;
}


body {
  background-color: var(--creme-clp);
}

.navbar {
  background-color: #fff;
}

.navbar .nav-link {
  color: var(--marrom-clp);
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: var(--verde-clp);
}

.navbar-brand {
  color: var(--verde-clp);
}

.btn-success {
  background-color: var(--verde-clp);
  border: none;
}

.btn-success:hover {
  background-color: #27652b;
}
