RewriteEngine On

# Se arquivo ou diretório existe, serve direto
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Caso contrário envia para index.php (front controller MVC)
RewriteRule ^ index.php [L]

Options -Indexes